body{
    margin: 0;
    padding: 0;
    background-color: rgba(20, 11, 11, 0.305);
    

}
header {
    text-align: right;
    background-color: #0c5ace4b;
    padding: 4px;
}



 /*  About me section*/
.about-me-container {
    display: flex;
    max-width: 800px;
    margin: 50px auto;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    padding: 20px;
}   

.text-container h2 {
    color: #333;
    
}

.text-container p {
    color:black;
}
 /*  About me section*/ 



 /*Project Section */

.First h2{
    text-align: center;
    
 }
.First h3{
    margin: 30px;  
}

.Second h3{
    margin: 30px;  
}


 .card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
/*Project Section */
  
/* Contact ME Secntion*/
.basta{
    
    border-radius: 8px;
    text-align: center;
}
/* Contact ME Secntion*/




/* footer Secntion*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0c5ace4b;
    
    color: white;
    text-align: center;
  }
/* footer Secntion*/

